<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000657305775-3rfve1hhgd7kodurusen1as8vc663h80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000657305775-3rfve1hhgd7kodurusen1as8vc663h80</string>
	<key>API_KEY</key>
	<string>AIzaSyDKAFhmX3CIymartqe-Op2RAYH96y3JcNw</string>
	<key>GCM_SENDER_ID</key>
	<string>1000657305775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Binayak.SeamEvents</string>
	<key>PROJECT_ID</key>
	<string>seamevents-5ddd5</string>
	<key>STORAGE_BUCKET</key>
	<string>seamevents-5ddd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000657305775:ios:109be3a4512f93be</string>
	<key>DATABASE_URL</key>
	<string>https://seamevents-5ddd5.firebaseio.com</string>
</dict>
</plist>